.nav{
  border: 1px solid beige;

  width: 100%;
  max-height:60px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  overflow: hidden;
  position: fixed;
  top: 0px;
  background: white;


}
*{
  box-sizing: content-box;
}
  body{
    font-family:"Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;

  }
.nav a {
  transition: width 2s, height 4s;

  padding-left: 25px;
  align-content: center;
  font-size: 16px;
  font-style:unset;
  font-family:"Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 500;

}
.nav a:hover {

text-decoration: underline;

}
 .dropdown {
  padding-top: 20px;
   padding-right: 900px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
 dropbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  margin: 0; /
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.nav2{
padding-top: 10px ;
padding-left: 30px;
}
.nav2 a{
  color: gray;
  font-size: 18px;
  text-decoration: none;
  margin: 5px;
}
.sub{
  float: right;
  width: 100px;
  height:100px;
  margin-top: 20px;
  margin-right: 80px;
}
.section{
  margin-top: 20px;
  padding: 30px;
  overflow:hidden;
  float: left;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  height: 100%;
  width: 750px;
  background: white;
  margin-left: 100px;

}
.section2{
  margin: 20px;
  padding: 20px;
  overflow:hidden;
  float: left;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  height: 320px;
  width: 770px;
  background: white;
  margin-left: 100px;
}
video{

}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
  color: black;
}
.picslide{
  margin: 15px;
  margin-top: 0px;
  width: 200px;
  height: 250px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  padding: 5px;
}
.picsec{
  margin-top: 10px;
  overflow:hidden;
  float: left;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
  width: 810px;
  background: white;
  margin-left: 100px
}
.smallsec{
  margin: 10px;
  padding: 30px;
  overflow:hidden;
  float: left;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  height: 150px;
  width: 750px;
  background: white;
  margin-left: 100px;

}
.quotes{
  margin: 10px;
  padding: 15px;

  overflow:hidden;
  float: left;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  height: 350px;
  width: 780px;
  background: white;
  margin-left: 100px;
}
.quotesin{
    display: flex;
  padding: 5px;
    margin-right: 10px;
}
.quotesin li{
  padding: 10px;
  margin-right: 100px;
  list-style:none ;
}
.imagesmall{
object-position: top;
  border: 1px solid gray;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
object-fit: cover;
  width: 150px;
  height: 150px
}
.h2{
  color: gray;
  text-decoration: none;
  margin: 5px;
}
div{
  background-color: white;

}
span{
  background-color: white;

}
.note{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 15px;
  border-left: 2px solid #fa9000;
  padding: 10px;
  color: gray;
  font-size: 16px;
  text-align: left;

}
ul{
  list-style: none;
}
.borderbott{   box-shadow: 0 4px 2px 0 rgba(0,0,0,.2);
}
ul li::before {
  content: "\2022";
  color: #fa9000;
  width: 1em;
  margin-left: -1em;
  padding-left:0px;
  text-align: right;
}
ul li{
  font-size: 16px;
}
.imagesinnote img{
  width: 20px;
  object-fit: cover;
  float: right;
  padding-left: 10px;
  float: inside;
}
.coloum{
  margin: 25px;
  width: 250px;
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.square {

  height: 10px;
  width: 10px;
  position: relative;
  background-color:#fa9000;
  margin-top: -48px;
  margin-left: 100px;
}
.row::after {
  content: "";
  clear: both;
  display: flex;
  margin: 1px;
}
.row{
  width:700px;
  margin: 20px;
  display: flex;

}
.news{
  padding: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
   width:360px;
  margin: 1px;

}
.dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.footer {
  width: 1400px;
  clear: both;
  height: 600px;
  padding-bottom: 60px;
  border-top: 2px solid #bebebe;
  margin-top: -200px;
  background: white;


}
.table{
  margin-top: 10px;
  width: 700px;



}

.table th {
  font-weight: normal;
  font-size: 18px;
  font-family: Arial;
  color: black;
  white-space: nowrap;
  width: 100px;


}

.table th a{
  text-decoration: none;
  color: black;
}

.table tr  td {

  width: 150px;
  font-weight:lighter;
  font-size: 14px;
  font-family: Arial;
  color: gray;
  padding-left: 60px;


}
.table  td a{
  text-decoration: none;
  color: gray;


}
.table td a:hover{
text-decoration: underline;
  color: black;
}

.subfot{
  width: 500px;
  float: right;
  font-style: italic;
  margin-top: 100px;

}
.footerinside li a{
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
  padding-top: 15px;
}
li{
  list-style: none;

}
.sub{
  float: right;
  font-style: italic;
  margin-top: 20px;
  margin-right: 80px;
  width: 300px;
  height: 450px;
}
.divright{
float: right;
  margin-right:100px;
  margin-top: -330px;
  width: 650px;
  height: 550px;

}
.foterhhead{
  margin-top: 60px;margin-left: 100px;display: flex;
  grid-column-gap: 145px;padding-left:10px;font-size: 20px;font-weight: 600;
  white-space: nowrap;
}

.footerinside{
  padding-top:20px;
  margin-left: 100px;
  grid-column-gap: 140px;
  padding-left:15px;
  display: flex;
  font-size: 15px;
  padding-bottom: 40px;

}
